@model CourseVM

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <img src="@Model.Picture" class="card-img-top w-50 mx-auto mt-3" />
                <div class="card-body">
                    <h5 class="card-title text-center h2"><strong>@Model.Name</strong></h5>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <p><strong>Description:</strong></p>
                            <p>@Model.Description</p>
                            <p><strong>Instructor:</strong> @Model.Instructor</p>
                            <p><strong>Capacity:</strong> @Model.Capacity</p>
                            <p><strong>Max Capacity:</strong> @Model.MaxCapacity</p>
                        </div>
                        <div class="col-md-6">
                            <p><strong>Cost Per Day:</strong> @Model.CostPerDay TL</p>
                            <p><strong>Duration In Hours:</strong> @Model.DurationInHours</p>
                            <p><strong>Category:</strong> @Model.Category</p>
                            <p><strong>Create Date:</strong> @Model.CreateDate.ToShortDateString()</p>
                        </div>
                    </div>
                    <div class="text-center mt-3">
                        <div class="text-danger" asp-validation-summary="All"></div>
                        <form asp-controller="EnrollmentRequest" asp-action="InsertEnrollmentRequest" method="post">
                            <input type="hidden" name="CourseId" value="@Model.Id" />
                            <select name="EnrollmentRequestStatusId" class="form-control">
                                @if (ViewBag.EnrollmentRequestStatuses != null)
                                {
                                    @foreach (var status in ViewBag.EnrollmentRequestStatuses)
                                    {
                                        <option value="@status.Value">@status.Text</option>
                                    }
                                }
                            </select>
                            <button type="submit" class="btn btn-primary mt-3">
                                Create Request
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>